/*! _buttons-dark.scss | Friendkit | © Css Ninja. 2020-2021 */

/* ==========================================================================
Friendkit button dark styles
========================================================================== */

/*
    1. Main Class
    2. Load more button
*/

/* ==========================================================================
1. Main Class
========================================================================== */

body {
  &.is-dark {
    .button {
      &:not(.primary-button):not(.accent-button):not(.secondary-button):not(
          .blue-button
        ):not(.green-button):not(.red-button) {
        background: darken($dark, 6%);
        border-color: lighten($dark, 4%);
        color: $white;
      }
    }

    .dropdown {
      > div {
        .button {
          background: transparent !important;
        }
      }
    }
  }
}

/* ==========================================================================
4. Load more button
========================================================================== */
body {
  &.is-dark {
    .load-more-button {
      background-color: darken($dark, 4%);
      border-color: lighten($dark, 4%);
      color: $medium-text !important;

      &:focus {
        border-color: lighten($dark, 4%);
      }

      &:hover {
        background-color: darken($dark, 4%);
      }

      &.loading {
        border-color: lighten($dark, 2%) lighten($dark, 2%) lighten($dark, 2%)
          $light-text;
        background: darken($dark, 4%);
      }
    }
  }
}
