/*! _toolbar-dark.scss | Friendkit | © Css Ninja. 2020-2021 */

/* ==========================================================================
Toolbar styles
========================================================================== */

/*
    0. Toolbar v1 dark
    1. Toolbar v1 fixed dark
*/

/* ==========================================================================
0. Toolbar v1 dark
========================================================================== */

body {
  &.is-dark {
    .toolbar-v1 {
      h1 {
        color: $white;
      }
    }
  }
}

/* ==========================================================================
1. Toolbar v1 fixed dark
========================================================================== */

body {
  &.is-dark {
    .toolbar-v1-fixed-wrap {
      .toolbar-v1 {
        background: darken($dark, 6%);
        border-color: darken($dark, 6%);
      }
    }
  }
}
